body {
    background-color: #cf4242;
    margin-top: 0px;
    margin-left: 0px;
    font-family: 'Roboto', sans-serif;
}

.header__div {
    padding: 40px;
    text-align: center;
    background: #ffffff;
    color: white;
    font-size: 30px;
}

.headerHeader__text {
    color: #000000;
    font-size: 25px;
    font-weight: 600;
    padding-top: 5px;
}

.homeHeader__button {
    outline: none;
    border: none;
    background-color: #ffffff;
    font-size: 16px;
}

.applicationHeader__button {
    outline: none;
    border: none;
    background-color: #ffffff;
    font-size: 16px;
}

.donateHeader__button {
    outline: none;
    border: none;
    background-color: #ffffff;
    font-size: 16px;
}

.mediaHeader__button {
    outline: none;
    border: none;
    background-color: #ffffff;
    font-size: 16px;
}

.deptsHeader__button {
    outline: none;
    border: none;
    background-color: #ffffff;
    font-size: 16px;
}

.leadershipHeader__button {
    outline: none;
    border: none;
    background-color: #ffffff;
    font-size: 16px;
}

.materialsHeader__button {
    outline: none;
    border: none;
    background-color: #ffffff;
    font-size: 16px;
}

.orpHeader_image {
    width: 700px;
    height: 700px;
    padding-bottom: 0px;
    padding-top: 30px;
}
